nav{
	background: black;
	color: white;
	font-size: 2em;
	border:1px solid black;
    border-width: 1px 0;
	-webkit-user-select: none;
	list-style: none;
	margin: auto auto; left: 0%; right: 0%;
	padding: 0;
	text-align: center;
	position: fixed;
	z-index: 1;
}

.bar_elem{
	margin: 0;
	border-radius: 10px;
	width: 5em;
}

.nav a{
	display: inline-block;
	margin: 0;
	padding: 0px;
}

.bar_elem:link {
    text-decoration: none;
	color: white;
	background: black;
}

.bar_elem:visited {
    text-decoration: none;
	color: white;
	background: black;
}

.bar_elem:hover {
    text-decoration: none;
	color: black;
	background: silver;
	-webkit-animation: mouseon 0.2s;
}

@-webkit-keyframes mouseon{
	from{background: black; color: white;}
	to{background: silver; color:black;}
}

.bar_elem:active {
    text-decoration: none;
	background: gray;	
}

.basic{
	background: white;
}

.section{
	height: 100vh;
}

.intro{
	margin-left: 10%;
	margin-right: 60%;
	margin-top: 50vh;
	padding: 1em;
	border-radius: 1em;
	background: rgba(255,255,255,0.6);
	font-size: 1em;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

body{
	margin: 0;
	background: black;
}

.section{
	-webkit-perspective: 1px;
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: visible; 
	margin-left:3%;
	margin-right:3%;
}

.section:-webkit-scrollbar{
	display:none;
}

#sec1{
	background: url('pictures/NTU.jpg');
	background-height: 100vh;
	background-position: center;
	background-attachment: fixed;
}

#sec2{
	background: url('pictures/map.png') no-repeat;
	background-size:100%;
	background-position: top;
	margin-top:0;
}

.store{
	display: table-cell;
	position: absolute;
	overflow: hidden;
	font-size: 1em;
	text-color: white;
	vertical-align: middle;
	text-align: center;
	height: 8vh;
	width: 8vh;
	background: rgba(0,255,255,0.6);
	border: blue;
	border-radius: 50%;
	-webkit-transition: width 0.7s, height 0.7s, border-radius 0.7s;
}

.store:hover{
	width: 30vw;
	height: 30vh;
	border-radius: 5%;
}

#intro2{
	position: absolute;
	font-size: 1.3em;
	top: 60%;
	left:40%;
	width: 20%;
	padding: 1%;
	border-radius: 20%;
	background: rgba(255,255,255,0.6);
}

#bike191{
	top: 5%;
	right: 15%;
}

#bike191:hover{
	width: 30vw;
	height: 30vh;
	border-radius: 5%;
}

#water{
	bottom: 12%;
	left: 12%;
}

#water:hover{
	width: 30vw;
	height: 30vh;
	border-radius: 5%;
}

#fu{
	bottom: 49%;
	right: 38%;
}

#fu:hover{
	width: 30vw;
	height: 30vh;
	border-radius: 5%;
}

#man{
	position: absolute;
	bottom: 33%;
	right: 9%;
}
